$website-width: 1280px;
$main-color: #57dbc5;
$button-hover: #92d6a2;
$light-color: #f4f4f4;
$light-color2: #fbf6f1;
$medium-color: #ccc;
$medium-color2: #d3cbc2;
$dark-color: #333;
$bg-image: url("../img/lightpic.jpg");
